@font-face
    font-family: 'Barlow Condensed', sans-serif
    font-style: normal
    font-weight: 200
    font-display: swap
    src: local('Barlow Condensed'), local('Barlow Condensed'), url('../fonts/BarlowCondensed-ExtraLight.ttf') format('truetype')

@font-face
    font-family: 'Barlow Condensed', sans-serif
    font-style: normal
    font-weight: 400
    font-display: swap
    src: local('Barlow Condensed'), local('Barlow Condensed'), url('../fonts/BarlowCondensed-Regular.ttf') format('truetype')

