@import base/_variables
@import base/_fonts


*
    font-family: 'Barlow Condensed', sans-serif
    
html
    background-color: $bg_color
body
    box-sizing: border-box
    margin: 0
h1
    margin: 0
    padding: 0

.container
    max-width: 950px
    margin: 0 auto
    position: relative

@import blocks/_promo
@import blocks/_icons
@import blocks/_buttons
@import blocks/_title
@import blocks/_taste
@import blocks/_lovebox
@import blocks/_form


.footer_bg
    min-height: 600px
    background: url('../img/footer_bg.jpg') center (center / cover) no-repeat
    width: 100%


// body
//     background-color: $main_color

// h3 
//     font-size: 22px
//     font-weight: 400

// p
//     display: block
//     width: 200px
//     font-size: 14px
//     font-weight: 200