.btn
    font-weight: 200
    font-size: 16px
    text-transform: none
    color: $main_color
    text-align: center
    background-color: $second_color
    padding: 10px 15px
    border: none
    border-radius: 17px
    cursor: pointer
    transition: 0.6s all
    &:hover
        border: 1px solid $main_color
        color: $main_color
        background: none

