.promo
    min-height: 700px
    padding: 125px 25px 80px
    background: url('../img/main_bg.png') center (center / cover) no-repeat
    &__contact
        display: flex
        align-items: flex-end
        justify-content: flex-end
        flex-direction: column
        &_phone
            display: flex
            justify-content: space-between
            margin-bottom: 10px
            a
                text-decoration: none
                font-size: 24px
                font-weight: 400
                color: $text_color

            .phone
                margin-right: 12px
    &__mainscreen
        margin-top: 33%
        display: flex
        flex-direction: column
        align-items: center
        margin-left: 35%
        &_subtitle
            font-weight: 200
            font-size: 15px
            text-transform: none
            color: $text_color
            text-align: center
            line-height: 27px
            display: block
            margin: 0
            padding: 0
        &_descr
            font-weight: 200
            font-size: 16px
            text-transform: none
            color: $text_color
            text-align: center
            line-height: 23px
            display: block
            margin-top: 35px
            width: 450px
    
    .word
        opacity: 0

    .letter
        display: inline-block
        position: relative
        float: left
        transform: translateZ(25px)
        transform-origin: 50% 50% 25px

        &.out
            transform: rotateX(90deg)
            transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19)

        &.behind
            transform: rotateX(-90deg)

        &.in
            transform: rotateX(0deg)
            transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275)
