.promo
    min-height: 700px
    padding: 125px 25px 80px
    background: url('../img/main_bg.png') center (center / cover) no-repeat
    &__contact
        display: flex
        align-items: flex-end
        justify-content: flex-end
        flex-direction: column
        &_phone
            display: flex
            justify-content: space-between
            margin-bottom: 10px
            font-size: 24px
            font-weight: 400
            color: $text_color
            .phone
                margin-right: 10px

            
