.title
    font-weight: 400
    font-size: 27px
    text-transform: uppercase
    color: $main_color
    text-align: center
    display: block
    margin: 0
    padding: 0
    &_1
        font-size: 37px
